body{
    background-color: rgb(58, 157, 170);
}
header{
    color: white;
    text-align: center;
    font: normal 18px arial;
}
section{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    padding: 10px;
}
footer{
    text-align: center;
    color: white;
    font: normal 18px arial;
    font-style: italic;
}
div {
    text-align: center;
}
img{
    padding-top: 10px;
}